# =========================================
# === .gitignore para Proyecto Astro.js ===
# =========================================

# Dependencias y logs de Node.js
# La carpeta de paquetes, que se reinstala con `npm install`
node_modules/
# Archivos de log generados por NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de Astro
# -----------------
# Carpeta de build de producción
dist/
# Carpeta de caché interna de Astro
.astro/
# Archivos de caché de imágenes de Astro
.astro/assets/

# Variables de Entorno y Secretos
# -------------------------------
# Nunca subas tus claves secretas o configuración local.
.env
.env.*
!.env.example
!.env.d.ts

# Archivos del Sistema Operativo
# ------------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# Archivos de Editores de Código
# ------------------------------
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains (WebStorm, etc.)
.idea/
